[Unit]
Description=Apache Kafka Broker
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User={{ kafka_system_user_name }}
Group={{ kafka_system_group_name }}
Environment=JAVA_HOME={{ kafka_java_home }}
EnvironmentFile=-{{ kafka_systemd_environment_file_path }}
PassEnvironment=
WorkingDirectory={{ kafka_installation_prefix }}
ExecStart={{ kafka_installation_prefix }}/bin/kafka-server-start.sh {{ kafka_server_properties_file.dest }}
ExecStop={{ kafka_installation_prefix }}/bin/kafka-server-stop.sh

[Install]
WantedBy=multi-user.target
