KAFKA_LOG4J_OPTS=-Dlog4j.configuration=file:{{ kafka_log4j_configuration_file.dest }}
KAFKA_HEAP_OPTS=-Xmx1G -Xms1G
KAFKA_OPTS=-DZstdTempFolder=/run/kafka -Dorg.xerial.snappy.tempdir=/run/kafka
KAFKA_GC_LOG_OPTS=-Dnogclog
